.circle {
   height: 12px;
   width: 12px;
   border-radius: 50%;
   background-color: black;
   position: fixed;
   pointer-events: none;
   z-index: 99999999;
   animation: bounce 1s ease-in-out infinite;
 }
 
 @keyframes bounce {
   0%, 100% {
     transform: translateY(0) scale(1);
     animation-timing-function: ease-in;
   }
   50% {
     transform: translateY(-12px) scale(1.5); /* Increased bounce height and scale */
     animation-timing-function: ease-out;
   }
 }

 

 