.circle {
   height: 12px;
   width: 12px;
   border-radius: 50%;
   background-color: black;
   position: fixed;
   pointer-events: none;
   z-index: 99999999;
   animation: bounce 1s ease-in-out infinite;
 }
 
 @keyframes bounce {
   0%, 100% {
     transform: translateY(0) scale(1);
     animation-timing-function: ease-in;
   }
   50% {
     transform: translateY(-12px) scale(1.5); /* Increased bounce height and scale */
     animation-timing-function: ease-out;
   }
 }

 
html {
  overflow-y: scroll;
  scrollbar-width: none; 
}

body {
  overflow-y: scroll; 
  height: 100vh; 
  margin: 0;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  width: 0;
  display: none; 
}

.scrollable-element {
  overflow-y: scroll;
  scrollbar-width: none; 
}

.scrollable-element::-webkit-scrollbar {
  width: 0; 
}
